html,
body {
    height: 100vh;
    margin: 0;    
}

.scafold {
  display: flex;
  height: 100vh;
  flex-flow: row; 
}

.sideA {
  flex-grow: 1;
  display: flex;
  padding: 10px;
  flex-direction: column;  
  background-color: whitesmoke;
}

.box0SideA {
  flex-grow: 1;
  display: flex;
  flex-direction: row; 
  justify-content: space-around; 
  background-color: whitesmoke;   
}

.box0SideA-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box0SideA-items {
  display: flex;
  justify-content: space-around;
}

.box1SideA {
  flex-grow: 1;
  display: flex;  
  align-items: center;
  align-content: center;
  justify-content: center; 
  background-color: blue;
}

.box2SideA {
  flex-grow: 1;
  display: flex;  
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: yellow;
}

.box3SideA {
  flex-grow: 1;
  display: flex;  
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: red;
}

.sideB {
  flex-grow: 1;
  display: flex;
  padding: 10px;
  flex-direction: column;  
  background-color: whitesmoke;
}

.box0SideB {
  flex-grow: 1;
  display: flex;
  flex-direction: row;   
  justify-content: space-around; 
  background-color: whitesmoke;   
}

.allBox {
  flex-grow: 4;
  display: flex;
  flex-direction: row;
}

.box0SideB-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box0SideB-items {
  display: flex;
  justify-content: space-around;
}

.box1SideB {
  flex-grow: 1;
  display: flex;  
  align-items: center;
  align-content: center;
  justify-content: center;  
  background-color: blue;
}

.box2SideB {
  flex-grow: 1;
  display: flex;  
  align-items: center;
  align-content: center;
  justify-content: center; 
  background-color: yellow;
}

.box3SideB {
  flex-grow: 1;
  display: flex;  
  align-items: center;
  align-content: center;
  justify-content: center;  
  background-color: red;
}


